.cafepage {
    header {
        .header__nav-wrap {
            border-bottom: none;
        }
    }
    .text__box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h4,
        h1 {
            color: $yellow-cl;
        }
        p {
            color: $white-cl;
            margin-bottom: 50px;
        }

        &::after {
            position: inherit;
        }
        &.--bottom {
            h4 {
                margin-bottom: 20px;
            }
            h4, p {
                color: $text-cl;
                max-width: 450px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            @include xs {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    h5 {
        @include text(var(--body14), pl, var(--body14-lh), $white-cl, uppercase);
        letter-spacing: 0.2em;
        padding-top: 30px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 320px;
            background-color: $yellow-cl;
        }
    }
    .gallery {
        --mg: 80px;
        background-color: #19191a;
        padding-bottom: var(--mg);
        .gallery__list {
            .gallery__list-item {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 240px;
                gap: 20px;
                width: 100%;
                a {
                    position: relative;
                    overflow: hidden;
                    img {
                        @include midimg(100%);
                        filter: brightness(100%);
                        -webkit-filter: brightness(100%);
                        -moz-filter: brightness(100%);
                        transition: all $t;
                        transform: translate(-50%, -50%) scale(1);
                    }
                    &:first-child {
                        grid-area: 1/1/3/2;
                    }
                    &:nth-child(2) {
                        grid-area: 1/2/2/4;
                    }
                    &:hover {
                        img {
                            filter: brightness(66%);
                            -webkit-filter: brightness(66%);
                            -moz-filter: brightness(66%);
                            transform: translate(-50%, -50%) scale(1.05);
                        }
                    }
                }
            }
        }
        .paging {
            width: fit-content;
            margin-left: auto;
            margin-top: calc(var(--mg) / 2);
            &::before {
                background-color: $yellow-cl;
            }
            .paging__btn {
                color: $yellow-cl;
                svg {
                    fill: $yellow-cl;
                }
            }
        }
    }

    @include xs {
        .gallery {
            .gallery__list {
                .gallery__list-item {
                    grid-template-columns: 1fr;
                    a {
                        &:first-child {
                            display: none;
                        }
                        &:nth-child(2) {
                            grid-area: inherit;
                        }
                    }
                }
            }
        }
        .paging {
            margin: auto;
        }
    }
}
