.contactpage {
    header {
        .header__nav-wrap {
            border-bottom: none;
        }
    }
    .mainwrapper {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 96px;
        .contact__logo {
            text-align: center;
            svg {
                width: 100px;
                fill: #f3f3f3;
            }
        }
        .contact {
            @include flex(center, flex-start);
            gap: 60px;
            margin-top: 20px;
            margin-bottom: 60px;
            .contact__item {
                max-width: 215px;
                width: 100%;
                p {
                    @include text(var(--body12), pr, var(--body3-lh), #f3f3f3, uppercase);
                }
                .tel {
                    margin-top: 20px;
                    span {
                        margin-left: 30px;
                    }
                }
                &.ct1 {
                    text-align: right;
                }
                &.ct2 {
                    text-align: left;
                }
            }
        }

        .img {
            text-align: center;
            padding-bottom: 20px;
            svg {
                width: 14px;
                fill: #f3f3f3;
            }
        }
    }

    footer {
        --height:480px;
        margin-top: 0;
        padding-top: 50px;
        &::after {
            height: 100%;
        }
        .contact {
            padding: 0 70px;
            .form {
                margin-top: 0;
            }
        }
    }

    @include xs {
        .mainwrapper {
            .contact__logo, .img {
                display: none;
            }
            .contact {
                flex-direction: column;
                align-items: center;
                gap: 0;
                padding-bottom: 96px;
                margin-bottom: 0;
                .contact__item {
                    &.ct1, &.ct2 {
                        text-align: center;
                    }
                    .tel {
                        margin-top: 0;
                    }
                }
            }
        }
        footer {
            --height:300px;
            padding-top: 1px;
            .contact {
                display: none;
            }
        }
    }
}