.rentalwrap {
    --pd-top: 70px;
    --height: 640px;
    --maxW: 260px;
    .container {
        display: flex;
        gap: 50px;
    }
    .rental__info {
        max-width: var(--maxW);
        height: var(--height);
        width: 100%;
        background-color: $grey-cl;
        padding-top: var(--pd-top);
        padding-left: 20px;
        h1 {
            @include text(3.2rem, peb, 3.2rem, $white-cl, none);
            margin: 30px 0 20px;
        }
        .dimensions {
            h5 {
                letter-spacing: 0.2em;
            }
            h5, p {
                color: $white-cl;
            }
        }
    }
    .rental__form {
        padding-top: var(--pd-top);
        width: 100%;
        h2 {
            @include text(2.8rem, peb, 2.8rem, $text-cl, none);
            letter-spacing: 0;
            margin-bottom: 40px;
        }
        .booking__detail {
            margin-top: 40px;
            .fill__place {
                grid-column: 1 / 3;
                .border {
                    border: 1px solid $text-cl;
                    line-height: 2.2rem;
                    height: 36px;
                }
                input {
                    padding: 0 10px;
                }
            }
            .fill__area {
                textarea {
                    padding: 0 10px;
                }
            }
            .end {
                position: relative;
                &::before {
                    content: "";
                    background-image: url("/gbox/img/_svg/Vector.svg");
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 50%;
                    left: -13%;
                    transform: translateY(-50%) rotate(-90deg);
                    @include size(14px);

                    @include xs {
                        top: -24px;
                        left: 50%;
                        transform: translate(-50%, 0%) rotate(0);
                    }
                }
            }
        }
    }

    .book {
        justify-content: flex-start;
        margin-bottom: var(--pd-top);
        margin-top: calc(var(--pd-top) - 20px);
        p {
            max-width: 220px;
            width: 100%;    
        }
    }

    @include xs {
        --height: inherit;
        --maxW: 100%;
        --pd-top: 30px;
        .container {
            gap: 0;
            flex-direction: column;
        }
        .rental__info {
            display: flex;
            gap: 30px;
            background-color: transparent;
            padding-left: 0;
            .num {
                @include size(100px);
            }
            h1 {
                color: $text-cl;
                margin: 0;
            }
            .dimensions {
                margin-top: 10px;
                h5, p {
                    color: $text-cl;
                    margin-bottom: 0;
                }
                .hidden {
                    display: none;
                }
            }
        }
    }

}