// css img, button, heading, title, input, elements, components...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
  color: $white-cl;
}
.--black-cl {
  color: $black-cl;
}

// css article (nội dung chi tiết bài viết)
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family: ib; // font bold
    display: block;
  }
  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }
  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }
  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }
  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }
  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }
  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }
  strong {
    // font-family: ib; // font bold
  }
  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }
  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }
  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;
    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }
  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.heading {
  // font-family: ib;
  &.--h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
  }
  &.--h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
  }
}

.heading {
  @include text(1.2rem, Arial, 1.2rem, $black-cl, uppercase);
  &.lh {
    margin-top: 18px;
  }
}

.green {
  background-color: rgba(5, 59, 84, 0.9);
}

.yellow {
  background-color: rgba(131, 102, 43, 0.9);
}

.btn {
  padding: 12px 36px;
  background-color: $btn-cl;
  border-radius: 5px;
  display: inline-block;
}

.btn-text {
  @include text(1.1rem, "arial", normal, $white-cl, uppercase);
}

.pd {
  padding-top: 150px;
}

.menu-fixed {
  &.active {
    display: block;
  }
  display: none;
  @include size(100%, 70px);
  background-color: $bg-cl;
  transition: all $t;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .container {
    @include size(100%);
  }
  .menu {
    @include size(100%);
    @include flex(space-between, center);
    .menu-item {
      height: 100%;
      @include flex(center, center);
      position: relative;
      padding: 0 20px;
      a {
        @include text(1.1rem, Arial, normal, $white-cl, uppercase);
      }
      &::before {
        content: "";
        @include size(0px, 2px);
        position: absolute;
        bottom: 14px;
        left: 0;
        background-color: $white-cl;
        transform-origin: left;
        // transform: scaleX(0);
        transition: $t;
      }
      &:hover::before {
        @include size(100%, 2px);
        transform-origin: left;
        // transform: scaleX(1);
      }
    }
    img {
      width: 56px;
    }
  }
}

.menu-left {
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
  background-color: #1d2021;
  max-width: 500px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all $t;
  &-header {
    @include flex(space-between, center);
    span {
      @include text(1.1rem, "A", normal, $white-cl, uppercase);
      padding: 0 10px;
    }
    .contact {
      @include flex(center, center);
      a {
        padding: 0 10px;
        img {
          width: 20px;
          transition: $t;
        }
        &:hover {
          img {
            opacity: 0.4;
          }
        }
      }
    }
  }
  &-content {
    margin-top: 60px;
    padding: 0 10px;
    display: flex;
    .btn-menufeft {
      position: relative;
      width: 100px;
      height: 118px;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 2px;
        background-color: $white-cl;
      }
      img {
        width: 40px;
      }
      .close {
        > img {
          transition: $t;
          &:hover {
            cursor: pointer;
            opacity: 0.4;
            transition: $t;
            transform: scale(0.8);
          }
        }
      }
      .logo-menuleft {
        margin-bottom: 34px;
      }
    }

    .menu-main {
      flex: 1;
      .menu {
        padding-top: 8px;
        margin-left: 20px;
        &-item {
          padding-bottom: 26px;
          position: relative;
          cursor: pointer;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 13px;
            @include size(0, 1px);
            transition: all $t;
          }
          &:hover::before {
            @include size(100%, 1px);
            background-color: $white-cl;
          }
          &:hover {
            .menu-link {
              color: $white-cl;
            }
          }
          .menu-link {
            @include text(2.6rem, E, normal, $text-menu, uppercase);
            transition: all $t;
          }
          &:last-child {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 3px;
              left: 46px;
              @include size(1px, 18px);
              background-color: $text-menu;
            }
            .menu-link {
              @include text(1.4rem, Eb, normal, $text-menu, uppercase);
              padding-right: 20px;
            }
            .menu-link:first-child,
            .menu-link:last-child {
              &:hover {
                color: $white-cl;
              }
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%);
  @include flex(center, center);
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: $s;
  transform: scale(0.8);
  > img {
    width: 22px;
  }
  &-text {
    @include text(1.2rem, Arial, 1.2rem, #dcdcdc, inherit);
    margin-top: 16px;
    margin-bottom: 36px;
  }
  &-btn {
    display: flex;
    img {
      width: 20px;
      margin-left: 20px;
    }
  }
}

.img-content {
  margin-top: 26px;
  max-width: 500px;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 1s;
  }
  &:hover {
    > img {
      transform: translate(-50%, -50%) scale(1.2);
    }
    .overlay {
      opacity: 1;
      pointer-events: auto;
      cursor: pointer;
      transform: scale(1);
    }
  }
}
