// css footer
footer {
    --height:530px;
    background-color: $bg-cl;
    height: var(--height);
    padding-top: 170px;
    .logo-footer {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 36px;
        margin-bottom: 50px;
        img {
           width: 90px;
        }
        &::before,
        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #665d49;
        }
    }
    .footer-info {
        text-align: center;
        p {
            @include text(1.1rem, Arial, 2.6rem, $white-cl, uppercase);
        }
    }
    .backtotop {
        writing-mode: vertical-rl;
        margin-left: auto;
        @include text(1rem, Arial, 2rem, #aaaaaa, uppercase);
        letter-spacing: 0.2em;
        position: relative;
        margin-top: 26px;
        cursor: pointer;
        transition: $t;
        &::before {
            content: "";
            width: 1px;
            height: 130px;
            position: absolute;
            top: -152px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #665d49;
            transition: $t;
        }
        &:hover::before {
            top: -170px;
        }
        &:hover {
            color: $white-cl;
        }
    }
}