// css header

header {
    position: absolute;
    z-index: 10;
    &.hidden {
        display: none;
    }
    ul { 
        display: flex;
        gap: 30px;
        padding-top: 53px;
        li {
            @include text(1.1rem,"A", normal, $black-cl, uppercase);
            @include transition($t);
            cursor: pointer;
            letter-spacing: 0.1em;
            a {
                color: $black-cl;
            }
            img {
                width: 20px;
                margin-left: 16px;
                @include transition($t)
            }
            &:hover {
                opacity: 0.6;
                img {
                    margin-left: 24px;
                }
            }
        }
    }

    @include xs {
        display: none;
    }
}